.trash{
    border:none;
    background-color:transparent;
    color:#0057ac;
    font-size: large;
}
.cart{
    background-color:#fff;
    border:none;
    border-radius: 5px;
    color:#0057ac;
    padding:0.5rem;
    width:3.5rem;
    font-size: x-large;
}
.cart:hover{
    background-color: #cfcfcf;
}
.cart-box{
    padding:0px 25vw 0px 25vw;
}
.cart-box ul{
    border:1px solid #000000;
    background-color:#fff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style-type:disc;
}
.cart-box li{
    background-color: #fff;
}
.cart-box-none{
    display:none;
}